@media (max-width: 1190px) {
  .container {
    width: 968px;
  }
  .main-img {
    display: none;
  }
}
@media (max-width: 990px) {
  .container {
    width: 720px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .descktop {
    display: none;
  }
  .mobil {
    display: block;
  }
  .header-block {
    flex-direction: column;
    align-items: center;
  }
  .header-block__item {
    margin-right: 0;
  }
  .header-block__item:first-child {
    margin-bottom: 10px;
  }
  .main-title {
    text-align: center;
  }
  .main-text {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 40px;
  }

  .main-text::before {
    display: none;
  }
  .timer-wrapper {
    position: relative;
    left: 0;
    top: 0;
    padding-top: 320px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .timer-wrapper::after {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .timer-wrapper::before {
    display: none;
  }
  .autor-title {
    font-size: 40px;
  }
  .autor-title span {
    font-size: 30px;
  }
  .autor-block {
    flex-direction: column;
    align-items: center;
  }
  .autor-block__img {
    width: 50%;
    position: relative;
    transform: translateY(60px);
  }
  .autor-list {
    width: 70%;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-item__link {
    text-align: center;
  }
}
@media (max-width: 740px) {
  .container {
    width: 90%;
  }
  br {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .main-title {
    font-size: 30px;
  }
  .timer-wrapper {
    margin-bottom: 40px;
  }
  .countdown-number {
    width: 20%;
  }
  .countdown-time {
    font-size: 30px;
  }
  .main-form {
    flex-direction: column;
    align-items: center;
  }
  .input {
    position: relative;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 14px;
  }
  .input:nth-child(1) {
    width: 100%;
  }
  .input:nth-child(2) {
    width: 100%;
  }
  .form-btn {
    width: 100%;
    padding: 14px;
  }
  .autor-title,
  .services-title {
    font-size: 28px;
  }
  .autor-title span {
    font-size: 20px;
  }
  .autor-block__img {
    width: 80%;
  }
  .autor-list {
    width: 100%;
  }
  .autor-title-br {
    display: block;
  }
  .footer-item__text,
  .footer-item__link {
    font-size: 12px;
  }
}
@media (max-width: 340px) {
  .autor-title {
    font-size: 24px;
  }
  .autor-title span,
  .main-title span {
    font-size: 20px;
  }
}
